.body {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
}

.upper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left {
    margin-left: auto;
}